body {
    width: 100%;
    
}

.content {
  background-color: #fff;
}
.wrapper {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.button:hover {
    opacity: 0.8;
}

.cva {
    position: relative;
    & .button {
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        margin: auto;
        animation: anime1 1s ease 0s infinite alternate;
        transform-origin: center;
        & img {
            max-width: 90%;
        }
    }
}

.cva-second {
    position: relative;
    & .button {
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        margin: auto;
        animation: anime1 1s ease 0s infinite alternate;
        transform-origin: center;
        & img {
            max-width: 90%;
        }
    }
}
@keyframes anime1 {
    from {
        transform: scale(0.95,0.95);
    }
    to {
        transform: scale(1,1);
    }
}

@media screen and (max-width: 767px) {
    .content img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    .wrapper {
        max-width: 750px;
        margin: 0 auto;
    }
}

/*=========
accordion
=========*/

.title {
  width: 350px;
  height: 150px;
  margin: 0 auto;
  padding-top: 40px;
}

.accordion_area .accordion_one .ac_header {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 1.5rem 4rem 1.5rem 2rem;
  position: relative;
  z-index: +1;
  cursor: pointer;
  transition: .2s;
  text-align: justify;
  text-justify: inter-ideograph;

}
.accordion_area .accordion_one .ac_header:not(.open):hover {
  background-color: #ddfdec;
}
.accordion_area .accordion_one:nth-child(odd) .ac_header {
  background-color: #f5f5f5;
}
.accordion_area .accordion_one:nth-child(odd) .ac_header:not(.open):hover {
  background-color: #ddfdec;
}
.accordion_area .accordion_one .ac_header .i_box {
  position: absolute;
  top: 50%;
  right: 2rem;
  width: 20px;
  height: 20px;
  margin-top: -10px;
}
.accordion_area .accordion_one .ac_header .i_box:before, .accordion_area .accordion_one .ac_header .i_box:after {
  position: absolute;
  content: "";
  margin: auto;
  box-sizing: border-box;
  vertical-align: middle;
}
.accordion_area .accordion_one .ac_header .i_box:before {
  border-top: 2px solid #04cd5e;
  width: 20px;
  height: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.accordion_area .accordion_one .ac_header .i_box:after {
  border-left: 2px solid #04cd5e;
  width: 0;
  height: 20px;
  top: 0;
  bottom: 0;
  right: 9px;
  transition: .3s;
}
.accordion_area .accordion_one .ac_header.open .i_box:after {
  height: 0;
}
.accordion_area .accordion_one .ac_inner {
  display: none;
  padding: 1.5rem 2rem 1.5rem 2rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  background: #fff;
}
@media screen and (max-width: 736px) {
  .accordion_area .accordion_one .ac_header {
    padding: 1.5rem 2rem 1.5rem 1.0rem;
  }
  .accordion_area .accordion_one .ac_header .i_box {
    right: 0.8rem;
    width: 15px;
    height: 15px;
    margin-top: -7px;
  }
  .accordion_area .accordion_one .ac_header .i_box:before {
    width: 15px;
  }
  .accordion_area .accordion_one .ac_header .i_box:after {
    height: 15px;
    right: 7px;
  }
  .accordion_area .accordion_one .ac_inner {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}

/*=========
faq
=========*/

.p-faq__headinner {
  display: block;
  padding-left: 35px;
  position: relative;
  line-height: 1.5;
}
.p-faq__headinner::before {
  position: absolute;
  left: 0;
  content: "Q．";
  color: #04cd5e;
  font-size: 20px;
  font-weight: bold;
}
.p-faq__headinner p.p-faq__q-txt {
  font-size: 20px;
}
@media screen and (max-width: 750px) {
  .p-faq__headinner {
    padding-left: 25px;
  }
  .p-faq__headinner::before {
    font-size: 14px;
  }
  .p-faq__headinner p.p-faq__q-txt {
    font-size: 14px;
  }
}
.p-faq__bodyinner {
  display: block;
  padding-left: 35px;
  position: relative;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-ideograph;
}
.p-faq__bodyinner::before {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}
.p-faq__bodyinner p.p-faq__a-txt {
  font-size: 20px;
}
@media screen and (max-width: 750px) {
  .p-faq__bodyinner {
    padding-left: 25px;
  }
  .p-faq__bodyinner::before {
    font-size: 14px;
  }
  .p-faq__bodyinner p.p-faq__a-txt {
    font-size: 14px;
  }
}

/*=========
base
=========*/

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: YuGothic, "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: .025em;
  line-height: 1.8;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.s_section {
  max-width: 1020px;
  margin: 0 auto;
  padding: 2rem 10px;
}
.gutter>*:not(:last-child) {
  margin-bottom: 1.5rem;
}

